.navbutton {
  font-size: 0.8em !important;
}

.navbar {
  background-color: #161616f5;
}

.navbar-brand {
  font-size: 1em;
  color: rgb(231, 231, 231) !important;
}

.navbar-toggler {
  font-size: 1em;
}

@media (min-width: 768px) {
  .navbar {
    height: 60px;
  }
}
